<style>{% include 'snippets/top_nav_bar/top_nav.css' %}</style>

<div class="p10 bdr flx" id="top_nav_bar">

    <div class="top_nav_dashboard_div ml5 mr5">
        <a class="top_nav_a" href="{% url 'app_typeset:dashboard' %}">Dashboard</a>
    </div>

    <div class="top_nav_upload_div ml5 mr5">
        <a class="top_nav_a" href="{% url 'app_typeset:upload' %}">Upload</a>
    </div>

    <div class="top_nav_search_div ml5 mr5">
        <a class="top_nav_a" href="{% url 'app_typeset:search' %}">Search</a>
    </div>


    <div class="top_nav_result_div ml5 mr5">
        <a class="top_nav_a" href="{% url 'app_typeset:result' %}">Result</a>
    </div>

</div>

<script>{% include 'snippets/top_nav_bar/top_nav.js' %}</script>
