.top_nav_bar{
    display:flex;
    height: 60px;
    background-color: #4A90E2;
    top: 0;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
}
.top_nav_bar a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}


.side_nav_bar a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}