.outer_container{
    display:flex;
}
.outer_container{
    height:100vh;
}
.dashboard_all_container{
    display:flex;
    width:100%;
    flex-direction:column;
    overflow:auto;
}



.data_container{
    display:flex;
    flex-direction:column;
}
.side_nav_bar{
    width: 200px;
    background-color: black;
    color: white;
}
.plan_container{
    display:flex;
}
.plan_card{
    border-radius: 4px;
    width: 270px;
    height: 400px;
    text-align: center;
    border: 1px solid #4a4a4a;
    margin:5px;
    cursor:pointer;
}
.plan_card.active{
    border-color: #4A90E2;
    box-shadow: 0px 2px 8px 0px rgba(74,144,226,1);
}
.offer_container{
    margin-top:10px;
}
.active_offer{
    border-radius: 4px;
    width: 540px;
    height: fit-content;
    text-align: center;
    border: 1px solid #4a4a4a;
}
.active_offer_wrapper{
    display:flex;
}
.active_offer_space{
    width: 270px;
}
.plan_and_pricing{
    padding:10px;
    white-space: nowrap;
}
.password{
    padding:10px;
    white-space: nowrap;
}
.expire_container{
    display: flex;
    align-items: center;
    place-content: flex-end;
    padding:10px;
}
.expire_container div{
    padding:10px;
}