<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{% block title %}TYPESET{% endblock %}</title>

    <style>{% include 'snippets/css/normalise.css' %}</style>
    <script type="text/javascript">{% include 'snippets/js/jquery-3.4.0.js' %}</script>

    {% block head %} {% endblock %}
</head>
<body class="body-class" id="body-id">

<div id="alert-div"></div>
<div id="body-div">
    <div class="main-class-div">
        <div class="main">
            <main id="main-tag">


                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block javascript %}{% endblock %}
</div>
</body>
</html>
