

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block head %}
<style>{% include 'app_typeset/css/typeset.css' %}</style>
<style>{% include 'snippets/top_nav_bar/typeset_nav.css' %}</style>

<style>{% include 'snippets/css/loader.css' %}</style>

<script>{% include 'snippets/js/jquery-3.4.0.js' %}</script>

{% endblock %}

{% block content %}
<div class="loader_div">
    <div class="loader"></div>
    <div id="loading">Loading... Please wait...</div>
</div>

<div class="outer_container">
    <div class="side_nav_bar">
        <div class="plan_and_pricing">
            <a href="#">Plan and pricing</a>
        </div>
        <div class="password">
            <a href="#">Password</a>
        </div>
    </div>

    <div class="dashboard_all_container">
        <div class="top_nav_bar" id="top_nav_bar">
            <a href="#">Home</a>
        </div>

        <div class="data_container">
            <div class="plan_container" id="plan_container"></div>
            <div class="offer_content"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_typeset/js/typeset.js' %}</script>
{% endblock %}




